.div-1{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;
    z-index: 12;
}


.div-2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 11;
}



